@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:20px;
  line-height: 23.48px;
  font-weight: 400;
}


body {
  margin: 0;
  display: flex;
  height:100vh;
  background-color:#F4F6F5;
}


#app {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}